## data types

In [ ]:
print(type("enes"))

<class 'str'>

In [ ]:
type("sedat") #jupiter tabanlı özgür özellik

str

In [ ]:
type("3")

str

In [ ]:
type(3)

int

In [ ]:
age=20

In [ ]:
type(age)

int

In [ ]:
type(3.14)

float

In [ ]:
type(False) #ilk harfi büyük olmalı

bool

In [ ]:
type(True) #ilk harfi büyük olmalı

bool

In [ ]:
name_3="ediz"

age2=25

In [ ]:
type(name_3,age2)

TypeError: type() takes 1 or 3 arguments

In [ ]:
type(name_3)  #sadece alttakini yazar
type(age2)

int

In [ ]:
print(type(name_3))
print(type(age2))

<class 'str'>
<class 'int'>

## type conversion

### all types to str

In [ ]:
yaş=32

In [ ]:
çevrilmiş_yas=str(yaş)
print(çevrilmiş_yas)

32
<class 'str'>

In [ ]:
print(type(çevrilmiş_yas))

<class 'str'>

In [ ]:
pi=3.14
type(pi)

float

In [ ]:
convert_pi=str(pi)
print(convert_pi)

3.14

In [ ]:
print(type(convert_pi))

<class 'str'>

In [ ]:
x=False
y=True

In [ ]:
str(x)

'False'

### str to int or float

In [ ]:
sayi_1="35"
sayi_2="otuz"

In [ ]:
int(sayi_1)

35

In [ ]:
type(int(sayi_1))

int

In [ ]:
int(sayi_2)

ValueError: invalid literal for int() with base 10: 'otuz'

In [ ]:
sayi_3="3.14"
sayi_4="3,14"
sayi_5="üçnoktaondört"

In [ ]:
float(sayi_3)

3.14

In [ ]:
type(float(sayi_3))

float

In [ ]:
float(sayi_4)

ValueError: could not convert string to float: '3,14'

In [ ]:
float(sayi_5)

ValueError: could not convert string to float: 'üçnoktaondört'

### float yo int or int to float

In [ ]:
rakam_1=24
rakam_2=5.6

In [ ]:
ç2=float(rakam_1)

In [ ]:
ç1=int(rakam_2)

In [ ]:
print(type(ç2))

print(type(ç1))

<class 'float'>
<class 'int'>

In [ ]:
int(5.9999999999999999) #istisna

6

### bool to int or float

In [ ]:
x=False
y=True

In [ ]:
int(x)

0

In [ ]:
int(y)

1

In [ ]:
float(x)

0.0

In [ ]:
float(y)

1.0

## arithmetic operations

In [ ]:
5+8

In [ ]:
3+5.0